p {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.fixed-nav {
    text-align: center;
    background-color: rgb(0, 48, 110);
    color: white;
}

.button {
    padding-left: 15px;
    padding-right: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0px;
    border-radius: 25px;
    color: rgba(0, 48, 110);
    background-color: #77c9fcf5;
    transition-duration: 0.4s;
}.button:hover {
    background-color: rgba(0, 123, 224, 0.963);
    color: white;
}

#profile {
    width: 25px;
}

/* Link Underline on hover  */
.link {
    position: relative;
    text-decoration: none;
    color: rgba(0, 48, 110);
}.link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 48, 110);
    transform: scaleX(0);
    transition: transform 0.4s ease;
}.link:hover::before {
    transform: scaleX(1);
}

/* Container 1 */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-child {
    width: 50%;
}
.one {
    padding-top: 35%;
    padding-left: 10%;
}

/* Image over image */
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 10%;
    object-fit: cover;
    object-position: top;
    height: 430px;
    width: 750px;
    z-index: 1;
}
.image2 {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 715px;
    z-index: 1;
}

/* Wave */
.Ocean {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-color: #77c9fcf5;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}
.Wave {
    width: 3000px;
    animation-name: swell;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    fill: #bfe6fff5;
    z-index: 2;
    position: relative;
}
  @keyframes swell {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
}

/* card scroll button css */
.cart-container {
    display: flex;
    overflow-x: hidden; /* Hide the scrollbar, but enable scrolling */
    scroll-behavior: smooth;
    gap: 20px; /* Space between cards */
}

.cart-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.scroll-container {
    position: relative;
    width: 100%; /* Make sure container takes full width */
    overflow: hidden; /* Hide any overflow */
}

.scroll-left, .scroll-right {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    z-index: 10;
    border-radius: 50%;
}

.scroll-left:hover, .scroll-right:hover {
    background-color: rgba(255, 255, 255, 1);
}

#card-img {
    width: 270px;
    margin-left: 165px;
}

/* Wave 2 */
.Ocean-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-color: #bfe6fff5;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}
.Wave-2 {
    width: 3000px;
    animation-name: swell;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    fill: #77c9fcf5;
    z-index: 2;
    position: relative;
}
  @keyframes swell {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
}

/* Google translate button */
.goog-te-gadget-icon {
    display:none;
  }
.goog-te-gadget-simple {
      background-color: #ecebf0 !important;
      border:0 !important;
      font-size: 10pt;
     font-weight:800;
      display: inline-block;
      padding:10px 10px !important;
      cursor: pointer;
      zoom: 1;
  }
.goog-te-gadget-simple  span {
     color:#3e3065 !important;
}

/* Card image */
.card-img-1 {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    margin-top: 75px;
    height: 198px;
    width: 300px;
    z-index: 1;
}
.card-img-2 {
    position: absolute;
    top: 30px;
    left: 80px;
    width: 155px;
    z-index: 1;
}